.App {
  text-align: center;
  background:rgba(126, 122, 181, 0.561);
  color: aliceblue;
}
.header{
  background: #2e7bb6;
}
.bottomworld{
  background: #9491b3;
}
.footer{
  background: #3628c9;
}
.data{
  display: flex;
  justify-content: space-around;
  padding:2px;
}
.header2{
  display: flex;
  justify-content: space-around;
  background: #6061ae;
  text-decoration-line: none;
}
.error{
  text-align: center;
  font-size: 50px;
}